<!DOCTYPE html>
<html>
    <head>
        <style>
                       
            /* Reset some default styles */
            body, h1, h2, h3, p, ul, ol, form, label {
                color: red;
                margin: 0;
                padding: 0;
            }

            body {
                font-family: 'Arial', sans-serif;
                background-color: #f4f4f4;
                color: #333;
                margin: 0;
                padding: 0;
            }

            .container {
                max-width: 800px;
                margin: 2px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                overflow: hidden; /* Hide overflowing content */
            }

            .login {
                text-align: center;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            legend {
                font-size: 18px;
                font-weight: bold;
            }

            label {
                margin-top: 2px;
                font-weight: bold;
                display: inline-block;
                margin-right: 10px;
            }

            select, input {
                width: 100%;
                padding: 10px;
                margin-bottom: 5px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
                display: inline-block;
            }

            .btn-primary {
                background-color: #007bff;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                border: none;
                border-radius: 4px;
            }

            .btn-primary:hover {
                background-color: #0056b3;
            }

            h2 {
                margin-top: 5px;
                font-size: 18px;
                font-weight: bold;
                color: #007bff;
                margin-bottom: 5px;
            }



        </style>
    </head>
<body>
    
    <div >
   
       <form action="{{ url_for('predictdatapoint')}}" method="post">
        <h1 class="name1">
            <legend>Laptop Price Prediction Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Company</label>
            <select class="form-control" name="Company" placeholder="Enter Company" required>
                <option class="placeholder" selected disabled value="">Select your Company</option>
                <option value="Apple">
                    Apple
                </option>
                <option value="HP">
                    HP
                </option>
                <option value="Acer">
                    Acer
                </option>
                <option value="Asus">
                    Asus
                </option>
                <option value="Dell">
                    Dell
                </option>
                <option value="Lenovo">
                    Lenovo
                </option>
                <option value="Chuwi">
                    Chuwi
                </option>
                <option value="MSI">
                    MSI
                </option>
                <option value="Microsoft">
                    Microsoft
                </option>
                <option value="Toshiba">
                    Toshiba
                </option>
                <option value="Huawei">
                    Huawei
                </option>
                <option value="Xiaomi">
                    Xiaomi
                </option>
                <option value="Vero">
                    Vero
                </option>
                <option value="Razer">
                    Razer
                </option>
                <option value="Mediacom">
                    Mediacom
                </option>
                <option value="Samsung">
                    Samsung
                </option>
                <option value="Google">
                    Google
                </option>
                <option value="Fujitsu">
                    Fujitsu
                </option>
                <option value="LG">
                    LG
                </option>
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Laptop Type</label>
            <select class="form-control" name="TypeName" placeholder="Enter Laptop Type" required>
                <option class="placeholder" selected disabled value="">Select Type</option>
                <option value="Ultrabook">
                    Ultrabook
                </option>
                <option value="Notebook">
                    Notebook
                </option>
                <option value="2 in 1 Convertible">
                    2 in 1 Convertible
                </option>
                <option value="Netbook">
                    Netbook
                </option>
                <option value="Gaming">
                    Gaming
                </option>
                <option value="Workstation">
                    Workstation
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Select Ram</label>
            <select class="form-control" name="Ram"
                placeholder="Want Touch Screen?" required>
            <option class="placeholder" selected disabled value="">Select Ram(GB)</option>
            <option value=2>
                2
            </option>
            <option value=4>
                4
            </option>
            <option value=6>
                6
            </option>
            <option value=8>
                8
            </option>
            <option value=12>
                12
            </option>
            <option value=24>
                24
            </option>
            <option value=16>
                16
            </option>
            <option value=32>
                32
            </option>
            <option value=64>
                64
            </option>
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Select Weight(Kg)</label>
            <input class="form-control" type="number" name="Weight"
                placeholder="Enter The Amount of Weight" min=0.5 max=5.0/>
        </div>
        <div class="mb-3">
            <label class="form-label">Want touch screen?</label>
            <select class="form-control" name="Touchscreen"
                placeholder="Want Touch Screen?" required>
                <option value=1>
                   Yes
                </option>
                <option value=0>
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Want IPS screen?</label>
            <select class="form-control" name="IPS" placeholder="Want IPS screen?" required>
                <option value=1>
                    Yes
                 </option>
                 <option value=0>
                     No
                 </option>
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Screen Resolution</label>
            
            <select class="form-control" name="Screen_Resolution" placeholder="Provide Screen Resolution" required>
                <option class="placeholder" selected disabled value="">select screen resolution</option>
                <option value='2560x1600'>
                    2560x1600
                 </option>
                 <option value='1440x900'>
                    1440x900
                 </option>
                 <option value='1920x1080'>
                    1920x1080
                 </option>
                 <option value='2880x1800'>
                    2880x1800
                 </option>
                 <option value='3200x1800'>
                    3200x1800
                 </option>
                 <option value='1920x1200'>
                    1920x1200
                 </option>
                 <option value='2256x1504'>
                    2256x1504
                 </option>
                 <option value='3200x1800'>
                    3200x1800
                 </option>
                 <option value='1366x768'>
                    1366x768
                 </option>
                 <option value='3840x2160'>
                    3840x2160
                 </option>
                 <option value='2160x1440'>
                    2160x1440
                 </option>
                 <option value='2560x1440'>
                    2560x1440
                 </option><option value='1600x900'>
                    1600x900
                 </option>
                 <option value='1366x768'>
                    1366x768
                 </option>
                 <option value='2736x1824'>
                    2736x1824
                 </option>
                 <option value='2400x1600'>
                    2400x1600
                 </option>
                 
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Laptop Size</label>
            
            <select class="form-control" name="size" placeholder="Choose Laptop Size"
                required>
                <option class="placeholder" selected disabled value="">Choose Laptop Size</option>
               <!--<option class="placeholder" selected disabled value="">Select Test_course</option> --> 
                 
                <option value=13.3>
                    13.3
                </option>
                <option value=15.6>
                    15.6
                </option>
                <option value=15.4>
                    15.4
                </option>
                <option value=14.0>
                    14.0
                </option>
                <option value=12.0>
                    12.0
                </option>
                <option value=11.6>
                    11.6
                </option>
                <option value=17.3>
                    17.3
                </option>
                <option value=10.1>
                    10.1
                </option>
                <option value=13.5>
                    13.5
                </option>
                <option value=12.5>
                    12.5
                </option>
                <option value=13.0>
                    13.0
                </option>
                <option value=18.4>
                    18.4
                </option>
                <option value=13.9>
                    13.9
                </option>
                <option value=12.3>
                    12.3
                </option>
                <option value=17.0>
                    17.0
                </option>
                <option value=15.0>
                    15.0
                </option>
                <option value=14.1>
                    14.1
                </option>
                <option value=11.3>
                    11.3
                </option>

            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">CPU Brand</label>
            
            <select class="form-control" name="Cpu_Brand" placeholder="choose cpu brand"
                required>
                <option class="placeholder" selected disabled value="">choose cpu brand</option>
               <!--<option class="placeholder" selected disabled value="">Select Test_course</option> --> 
               <option value="Intel Core i3">
                Intel Core i3
                </option>
                <option value="Intel Core i5">
                    Intel Core i5
                </option> 
                <option value="Intel Core i7">
                    Intel Core i7
                </option>
                <option value="AMD Processor">
                    AMD Processor
                </option>
                <option value="Other Intel processors">
                    Other Intel processors
                </option>
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">HDD(GB)</label>
            <select class="form-control" name="HDD" placeholder="Choose HDD size"
                required>
                
                <option class="placeholder" selected disabled value="">choose hdd size</option>
                <option value=0>
                    0
                </option>
                <option value=28>
                    28
                </option>
                <option value=32>
                    32
                </option>
                <option value=512>
                    512
                </option>
                <option value=1024>
                    1024
                </option>
                <option value=2048>
                    2048
                </option>
        
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">SSD(GB)</label>
            <select class="form-control" name="SSD" placeholder="Choose SSD"
                required>
                <option class="placeholder" selected disabled value="">Choose ssd size</option>
                <option value=0>
                    0
                </option>
                <option value=8>
                    8
                </option>
                <option value=16>
                    16
                </option>
                <option value=32>
                    32
                </option>
                <option value=64>
                    64
                </option>
                <option value=128>
                    128
                </option>
                <option value=180>
                    180
                </option>
                <option value=240>
                    240
                </option>
                <option value=256>
                    256
                </option>
                <option value=512>
                    512
                </option>
                <option value=768>
                    768
                </option>
                <option value=1024>
                    1024
                </option>
                
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Hybrid(GB)</label>
            <select class="form-control" name="Hybrid" placeholder="Choose hybrid memory size"
                required>
                <option class="placeholder" selected disabled value="">choose hybrid memory size</option>
                
                <option value=0>
                    0
                </option>
                <option value=512>
                    512
                </option> 
                <option value=1024>
                    1024
                </option>
                 

            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Flash Storage (GB)</label>
            <select class="form-control" name="Flash_Storage" placeholder="Choose flash storage"
                required>
                <option class="placeholder" selected disabled value="">choose flash storage size</option>
                <option value=0>
                    0
                </option>
                <option value=16>
                    16
                </option>
                <option value=32>
                    32
                </option>
                <option value=64>
                    64
                </option>
                <option value=128>
                    128
                </option> 
                <option value=256>
                    256
                </option> 
                <option value=512>
                    512
                </option> 

            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">GPU Brand</label>
            <select class="form-control" name="Gpu_Brand" placeholder="Choose GPU brand"
                required>
                <option class="placeholder" selected disabled value="">choose gpu brand</option>
                <option value="Intel">
                    Intel
                </option>
                <option value="AMD">
                    AMD
                </option>
                <option value="Nvidia">
                    Nvidia
                </option>
                 

            </select>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Operating System</label>
            <select class="form-control" name="Os" placeholder="Choose operating system"
                required>
                <option class="placeholder" selected disabled value="">choose operating system</option>
                <option value="Mac OS">
                    Mac OS
                </option>
                <option value="Windows">
                    Windows
                </option>
                <option value="Others/No OS/Linux">
                    Others/No OS/Linux
                </option>
                 

            </select>
        </div>
        <br>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Laptop Price" required />
        </div>
    </form>
    <h2>
       THE  price prediction for this configuration laptop is {{results}} BDT.
    </h2>
</body>
</html>